.about-container {
  display: flex;
  flex-direction: column;
}

.top-column, .bottom-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 7px;
  line-height: 20px;
}

.about-headers {
  color: #9e2b2b;
}

.mt-hood {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
}

@media only screen and (min-width: 1100px) {
  .about-top {
    display: flex;
    justify-content: center;
  }

  .about-p {
    width: 50%;
  }

  .about-bottom {
    text-align: center;
  }
}