.header-column {
  display: flex;
  flex-direction: column;
}

.header-row {
  display: flex;
  flex-direction: row;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 100%;
  padding: 5px;
  font-size: 15px;
}

.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
}

span {
  padding: 3px;
}

