.summary-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.red {
  color: red;
}

.material-container, .features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  margin: 5px;
}

.features-list, .material-list {
  padding: 5px; 
}

