.summary-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.red {
  color: red;
}

.material-container, .features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  margin: 5px;
}

.features-list, .material-list {
  padding: 5px; 
}

.image {
  border-style:groove;
  margin: 10px;
  border-radius: 5px;
}

.shrink {
  width: 100%;
  padding: 20px;
}

.tiny {
  width: 25%;
  padding: 10px;
}


